<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <header>
        <%- include("./components/header.ejs") %>
        <h1>About</h1>
    </header>
    <section>
        <h1>METHOD POST</h1>
        <h2>Person <%= ps.who %></h2>
        <h2>Job: <%= ps.job %></h2>
    </section>
    <section>
        <form action="/about/POST" method="POST">
            <label for="who">Name</label>
            <input type="text" name="who" id="who" value="<%= ps.who %>">
            <label for="job">Job</label>
            <input type="text" name="job" id="job" value="<%= ps.job %>">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= ps.email %>">

            <button type="submit">Submit</button>
        </form>
    </section>
</body>
</html>